automation/telegram_rag_bot.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://rag-labor-laws-backend.onrender.com/ask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            },
            {
              "name": "session_id",
              "value": "=telegram-{{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [224, -128],
      "id": "c6116109-f670-4568-ada5-bc9f8b7bd7d2",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "Obsługa wybudzania Rendera"
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-272, 432],
      "id": "1b985a10-9889-44d8-a1d2-127b16900dba",
      "name": "Telegram Trigger",
      "webhookId": "e3600685-c3e0-4bc5-90fe-3665e5a70316",
      "credentials": {
        "telegramApi": {
          "id": "YuavHn3qwEQ7UUlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [592, -512],
      "id": "3d41f177-dc24-4c65-9dbf-75221f44b74e",
      "name": "Send a text message",
      "webhookId": "bb07e091-3e1a-42f3-91f5-b2f5b5018f4c",
      "credentials": {
        "telegramApi": {
          "id": "YuavHn3qwEQ7UUlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [16, -384],
      "id": "6cbbfd55-67ba-499d-b0c9-cd9cef882638",
      "name": "Send a chat action",
      "webhookId": "f324b64b-d0c2-452f-a5b1-426b058520d4",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "YuavHn3qwEQ7UUlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d65d8629-3e7f-469c-9376-f33bf4688087",
              "leftValue": "={{ $json.answer }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [448, -272],
      "id": "cc8f1f7c-52da-4c31-96e1-7d070e4750a3",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Przepraszam, serwer potrzebuje chwili na rozruch. Spróbuj zadać to pytanie jeszcze raz za około minutę! 🤖☕",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [656, -176],
      "id": "f5637227-e3c2-4328-8030-52b64f4f0b07",
      "name": "Telegram (Server Error)",
      "webhookId": "05da1350-5459-43c2-9476-270ce2e2156a",
      "credentials": {
        "telegramApi": {
          "id": "YuavHn3qwEQ7UUlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://rag-labor-laws-backend.onrender.com/sessions/telegram-{{ $('Telegram Trigger').item.json.message.from.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [48, 336],
      "id": "96c8714f-0ae7-42e6-bbda-876fe118bf42",
      "name": "HTTP Request DELETE",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Baza danych jest czysta! 🧹 Możemy zaczynać od nowa. O co chcesz zapytać?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [560, 336],
      "id": "9595dce6-875e-4377-ae71-92adb1bc7adc",
      "name": "Send a text message del confirm",
      "webhookId": "a4357d40-3742-42c0-8e16-acf664367cb9",
      "credentials": {
        "telegramApi": {
          "id": "YuavHn3qwEQ7UUlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec5f7dff-04fa-4710-aaa1-1613bc7c72da",
              "leftValue": "={{ $json.message }}",
              "rightValue": "200, 404, 204",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "46ca117c-cb3d-4d34-ae8d-d0ceb72665e3",
              "leftValue": "={{ $json.detail }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1c04915f-35eb-4fa7-886d-2226a3846691",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [256, 336],
      "id": "6dbc57de-0a68-4cf1-a6a7-a41510d9a136",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "be514957-016b-4bd8-a88b-3c33e3d33265",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/reset",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-144, 208],
      "id": "5beef527-72f3-4477-9af8-955d952366aa",
      "name": "If RESET"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [304, -640],
      "id": "3bb50acc-e414-4ed7-94f4-25c21341c862",
      "name": "Send a chat action2",
      "webhookId": "f324b64b-d0c2-452f-a5b1-426b058520d4",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "YuavHn3qwEQ7UUlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [144, -528],
      "id": "e6340cba-5247-4f5a-908d-cc4ca1b247d8",
      "name": "Wait 4s",
      "webhookId": "ba5b8f18-7bb5-4362-8d9d-af534be7d67c"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If RESET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        [
          {
            "node": "Wait 4s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram (Server Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request DELETE": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message del confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram (Server Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If RESET": {
      "main": [
        [
          {
            "node": "HTTP Request DELETE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4s": {
      "main": [
        [
          {
            "node": "Send a chat action2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d77be1f0a86b18c09aef3674669d6f62a987f1d4ac280d05055f55f3c941894"
  }
}
